---
layout: page.html
title: ''
---

<div class="main-bg parallax" style="background-image: url(/images/background-casual.jpg);">
    <div class="container">
      <div class="row-fluid">
        <div class="span10 offset1">
          <div class="image-title">
            <p class="bg-text">Haine de firma</p>
          </div>
          <div id="homeCarousel" class="owl-carousel">
            <div class="item-main">
              <a href="/products/hoodie.html">
                <img src="/images/products/hoodie.jpg" alt="" />
                <div class="caption clearfix"> <span>pentru patroni</span></div>
              </a>
            </div>
            <div class="item-main">
              <a href="/products/blanita.html">
                <img src="/images/products/blanita.jpg" alt="" />
                <div class="caption clearfix"> <span>pentru patroance</span></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div id="content" class="clearfix">
    <section class="content">
      <div id="col-main" class="clearfix">
        <!-- Home page content -->
        <div class="container background">
          <h1 class="home-title unbold text-center">Ce-i mai bine decat sa fii patron?</h1>
          <div class="row-fluid clearfix">
            <p class="index-content">Exact! Nimic nu-i mai bine decat sa fii PATRON. Decat o data ajunge sa fii PATRON ca sa realizezi beneficiile pe care o astfel de viata imbelsugata le poate aduce. Pune pe tine o haina de firma. O meriti. Fii PATRON!</p>
          </div>
          <div class="row-fluid text-center"> <a href="#" class="read-more-home">Cititul excesiv poate dauna statutului de PATRON.</a>
          </div>
        </div>

        <!--Collections -->
        <div class="main-bg main-bg-col parallax" style="background-image: url(/images/background-city.jpg);">
          <div class="home_col container">
            <div class="row-fluid text-center">
              <div class="span10 offset1">
                <div class="image-title">
                  <p class="bg-text bg-text-col">Colectia 2014</p>
                </div>
                <ul id="home_col">
                  <li class="items bounceIn not-animated" data-animate="bounceIn" data-delay="400">
                    <a href="/products/patron.html" title="Costum Patron">
                      <p><span>Tare ocupat</span>
                      </p>
                      <img src="/images/products/costum-patron-imm2.jpg" class="img-circle" alt=""/>
                    </a>
                  </li>
                  <li class="items bounceIn not-animated" data-animate="bounceIn" data-delay="400">
                    <a href="/products/patroana.html" title="Costum Patroana">
                      <p><span>Aparente</span>
                      </p>
                      <img src="/images/products/costum-patroana.jpg" class="img-circle" alt=""/>
                    </a>
                  </li>
                  <li class="items bounceIn not-animated" data-animate="bounceIn" data-delay="0">
                    <a href="/products/parlit.html" title="Tinuta Completa Hipster">
                      <p><span>Haloween 2014</span>
                      </p>
                      <img src="/images/products/costum-parlit.jpg" class="img-circle" alt="" />
                    </a>
                  </li>
                  <li class="items bounceIn not-animated" data-animate="bounceIn" data-delay="200">
                    <a href="/products/diesel.html" title="Trashwear">
                      <p><span>After work</span>
                      </p>
                      <img src="/images/products/outwear-diesel-club.jpg" class="img-circle" alt=""/>
                    </a>
                  </li>
                  <li class="items bounceIn not-animated" data-animate="bounceIn" data-delay="400">
                    <a href="/products/vertigo.html" title="Budoar">
                      <p><span>Confusion</span>
                      </p>
                      <img src="/images/products/outwear-vertigo-club.jpg" class="img-circle" alt=""/>
                    </a>
                  </li>
                  <li class="items bounceIn not-animated" data-animate="bounceIn" data-delay="400">
                    <a href="/products/polo.html" title="Polo">
                      <p><span>La tara</span>
                      </p>
                      <img src="/images/products/polo.jpg" class="img-circle" alt=""/>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Video Images -->
        <div class="main-bg main-bg-video parallax" style="background-image: url(/images/background-oi.jpg);">
          <div class="container">
            <div class="row-fluid">
              <div class="span10 offset1">
                <div class="image-title">
                  <p class="bg-text bg-text-video">Haina face pe om</p>
                </div>
                <a target="_blank" class="video-img bounceIn not-animated" data-animate="bounceIn" href="https://www.youtube.com/watch?v=sTJ7AzBIJoI" target="_blank" style="background-image:url(/images/video-bg.jpg);">
                  <p class="video-icon"><span></span>
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- newsletter -->
        <div class="container">
          <div id="widget-newsletter" class="text-center">
            <hr>
            <div class="widget-wrapper">
              <h1 class="home-title text-center">Aboneaza-te la newsletter</h1>
              <form class="fadeInUp not-animated" data-animate="fadeInUp" data-delay="0" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                <input class="input-block-level" type="email" placeholder="EMAIL" name="EMAIL" id="email-input">
                <button type="submit" class="btooltip" data-toggle="tooltip" data-placement="bottom" title="" name="subscribe" id="email-submit" data-original-title="SignUp"> <i class="icon-envelope-alt"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div><!-- /.content -->
